.banner{
    display: flex;
    justify-content: space-between;

}

.coluna-a {
    width: 48%;
    box-sizing: border-box;
}

.coluna-b{
    width: 48%;
    box-sizing: border-box;

}

.banner__apresentacao{
    width: 90%;
    height: auto;
    
}

.banner__titulo{
    font-size: 20px;
    margin: 1em 0;
    text-align: center;
    color: var(--laranja);
    font-weight: 700;
}

.banner__subtitulo{
    font-size: 12px;
    font-weight: 300;
    margin: 3em 0 0 1.5em;
}


.imagem-pme{
    width: 150px;
    height: auto;
    margin: 0 10px;
}

        @media screen and (min-width:550px){
            .banner__subtitulo{
                font-size: 16px;
            }

            .imagem-pme{
                width: 200px;

            }
            
        }

        @media screen and (min-width:820px){
            .banner__titulo{
                font-size: 25px;
            }
            
            .banner__subtitulo{
                font-size: 20px;
            }

            .imagem-pme{
                width: 250px;

            }
        }
            
            @media screen and (min-width:1200px){
                .banner__titulo{
                    font-size: 30px;
                }
                
                .banner__subtitulo{
                    font-size: 25px;
                }
        
                .imagem-pme{
                    width: 250px;
        
                }
        }



