.carrossel{
    width: 100%;
    height: 10%;
    margin: 0 auto;
}


.swiper-button-prev, .swiper-button-next, .swiper-pagination-bullet{
    display: none;
}

.logo__seguradora{
    width: 10vw;
    padding: 0 5em;
}


    @media screen and (max-width: 480px){
        .titulo__seguradoras{
            padding: 0 0 1em 0;
        }


        .logo__seguradora{
            width: 70px;
            padding: 0;
            

        }
          
       




        
    }