header{
    background-color: var(--cor-header);
    padding: 2em;
}

.cabecalho{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cabecalho__menu-hamburger{
    position: relative;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;                  
    background-position: center;                    
    display: inline-block;
    background-image: url("../imagens/Menu.svg");

}

.container{
    display: flex;
    align-items: center;
}

.container__botao{
    display: none;
}

.lista-menu{
    top: 90%;
    position: absolute;
    display: none;
    background: var(--cor-de-fundo);
    
    
}

.lista-menu__item{
    padding: 1em;
}


.container__botao:checked ~ .lista-menu{
    position: absolute;
    display: block;
    
}



.lista-menu__link{
    color: var(--laranja);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

}


.container__imagem{
    padding: 0 0.2em;
    margin: 0 0.5em;
}


#Logo__Ransom{
    padding: 0 0.5em;
    margin-left: 20px;
    width: 120px;

}

#logo__whats,
#logo__insta{
    width: 10px;
}


        .botoes__menu{
            margin: 0 10px;
            font-size: 18px;
            
        }

        .menu-item{
            color: var(--branco);
            text-decoration: none;
            padding: 0.5em;
        }

        

        @media screen and (max-width: 960px){
            .botoes__menu{
                font-size: 16px;
                margin: 0 5px
            }
            .menu-item{
                padding: 0.2em; 
            }

        }

            @media screen and (max-width: 843px){
                .botoes__menu{
                    font-size: 14px;
                    margin: 0 5px
                }
                .menu-item{
                    padding: 0.1em;
                }

            }


            @media screen and (max-width: 773px){
                .botoes__menu{
                    font-size: 10px;
                    margin: 0 5px
                }
                .menu-item{
                    padding: 0.2em;
                }

            }


        @media screen and (max-width: 665px){
            .botoes__menu{
                display: none;

            }


        }

        @media screen and (max-width: 375px){
            .container__imagem{
                width: 25px;
                margin: 0 0.2em;
            }

            #logo__Ransom{
                width: 90px;
            }

        }

            @media screen and (min-width: 665px){
            .cabecalho__menu-hamburger{
                display: none;
            }

            }

        




