.produtos__titulo{
    font-size: 30px;
    margin: 1em 0;
    text-align: center;
    color: var(--laranja);
    font-weight: 700;
}

.produtos{
    width: 100%;
}

.tipos-planos{
    display: flex;
    justify-content: space-between;
    margin: 40px 15% 40px 20%;
    text-align: center;
    
}

.nome__saude{
    margin: 1em;
    color: var(--cor-header);
    font-weight: 500;
}


.saude-pf, .saude-pme{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



